nameOverride: gateway-service

image:
  repository: techxus/gateway-service
  tag: "5f1eb55b087a5c29f2b3dd2970c4536f0c6ba6b4"

spring:
  profile: local

ingress:
  enabled: true
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
  hosts:
    - paths:
        - path: /
          pathType: Prefix

config:
  enabled: true
  applicationYaml: |
    spring:
      cloud:
        gateway:
          routes:
            - id: user-service
              uri: http://user-service
              predicates:
                - Path=/api/v1/user/**
            - id: notification-service
              uri: http://notification-service
              predicates:
                - Path=/api/v1/notification/**
