nameOverride: notification-service

# Value of tag will be overridden by GitHub Actions when the docker image is built
image:
  repository: techxus/notification-service
  tag: "1.0.0"

probes:
  readinessPath: /api/v1/notification/actuator/health/readiness
  livenessPath: /api/v1/notification/actuator/health/liveness
