nameOverride: ""
fullnameOverride: ""

replicaCount: 1

image:
  repository: ""
  tag: ""
  pullPolicy: IfNotPresent

serviceAccount:
  create: false
  name: ""

podAnnotations: {}

env: []

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

ingress:
  enabled: false
  className: nginx
  annotations: {}
  hosts:
    - paths:
        - path: /
          pathType: Prefix

probes:
  enabled: true
  readinessPath: /actuator/health/readiness
  livenessPath: /actuator/health/liveness

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

config:
  enabled: false
  applicationYaml: ""
