nameOverride: gateway-service

image:
  repository: techxus/gateway-service
  tag: "b9f9a6676af378f697a8a3ac6f435dc7541c9eac"

spring:
  profile: dev

ingress:
  enabled: true
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
  hosts:
    - paths:
        - path: /
          pathType: Prefix

monitoring:
  serviceMonitor:
    enabled: false

config:
  enabled: true
  applicationYaml: |
    spring:
      cloud:
        gateway:
          routes:
            - id: user-service
              uri: http://user-service
              predicates:
                - Path=/api/v1/user/**
            - id: notification-service
              uri: http://notification-service
              predicates:
                - Path=/api/v1/notification/**
