nameOverride: notification-service

# Value of tag will be overridden by GitHub Actions when the docker image is built
image:
  repository: techxus/notification-service
  tag: "849f750578ea23100a4161d20b5ac6896b639fad"

spring:
  profile: dev

probes:
  readinessPath: /api/v1/notification/actuator/health/readiness
  livenessPath: /api/v1/notification/actuator/health/liveness
