nameOverride: notification-service

# Value of tag will be overridden by GitHub Actions when the docker image is built
image:
  repository: techxus/notification-service
  tag: "d64d6c8cbf31eb3611074c64c80db64d73bf0f04"

spring:
  profile: dev

probes:
  readinessPath: /api/v1/notification/actuator/health/readiness
  livenessPath: /api/v1/notification/actuator/health/liveness

monitoring:
  serviceMonitor:
    enabled: false
