nameOverride: user-service

image:
  repository: techxus/user-service
  tag: "160d3d2108f7423f1acc60cc9aa89c6c7c270a8f"

spring:
  profile: dev
  defaultSchema: user

probes:
  readinessPath: /api/v1/user/actuator/health/readiness
  livenessPath: /api/v1/user/actuator/health/liveness

monitoring:
  serviceMonitor:
    enabled: false

# Mount an application.yaml to guarantee SCRAM jaas config is assembled
config:
  enabled: true
  applicationYaml: |
    spring:
      kafka:
        # These come from configtree files created by SecretProviderClass:
        # spring.kafka.bootstrap-servers
        # spring.kafka.properties.security.protocol
        # spring.kafka.properties.sasl.mechanism
        #
        # We assemble SCRAM JAAS config from configtree-provided username/password:
        properties:
          sasl:
            jaas:
              config: >-
                org.apache.kafka.common.security.scram.ScramLoginModule required
                username="${kafka.sasl.username}"
                password="${kafka.sasl.password}";

secretsStore:
  enabled: true
  region: us-east-1

  mountPath: "/mnt/secrets-store"
  mountPathPostgres: "/mnt/secrets-store/postgres"
  mountPathRedis: "/mnt/secrets-store/redis"
  mountPathMsk: "/mnt/secrets-store/msk"

  postgresSecretProviderClass: "ibank-postgres"
  redisSecretProviderClass: "ibank-redis"
  mskSecretProviderClass: "ibank-msk"

  # keep DB URL as Helm/env (works well)
  datasourceUrl: "jdbc:postgresql://ibank-eks-dev-postgres.c9jlnhhcva7f.us-east-1.rds.amazonaws.com:5432/appdb"

  # optional metadata only (not required by template)
  secretArn: arn:aws:secretsmanager:us-east-1:121897425968:secret:ibank-eks-dev/rds/postgres-HnfeI8
