nameOverride: user-service

# Value of tag will be overridden by GitHub Actions when the docker image is built
image:
  repository: techxus/user-service
  tag: "79bf4abc49382d2dc422365a98b51ad828f6e9f1"

spring:
  profile: dev

probes:
  readinessPath: /api/v1/user/actuator/health/readiness
  livenessPath: /api/v1/user/actuator/health/liveness

monitoring:
  serviceMonitor:
    enabled: false

secretsStore:
  enabled: true
  serviceAccountName: notification-service-sa
  datasourceUrl: "jdbc:postgresql://ibank-eks-dev-postgres.c9jlnhhcva7f.us-east-1.rds.amazonaws.com:5432/appdb"
