server:
  dataStorage:
    enabled: true
    size: 5Gi
    storageClass: standard

  ha:
    enabled: true
    replicas: 1
    raft:
      enabled: true

  # IMPORTANT: no dev mode
  dev:
    enabled: false

  # Vault listener with TLS
  extraEnvironmentVars:
    VAULT_CACERT: /vault/userconfig/vault-tls/ca.crt

  extraVolumes:
    - type: secret
      name: vault-tls
      path: vault-tls

  extraVolumeMounts:
    - name: vault-tls
      mountPath: /vault/userconfig/vault-tls
      readOnly: true

  config: |
    ui = true
    disable_mlock = true

    listener "tcp" {
      address       = "0.0.0.0:8200"
      tls_cert_file = "/vault/userconfig/vault-tls/tls.crt"
      tls_key_file  = "/vault/userconfig/vault-tls/tls.key"
    }

    storage "raft" {
      path = "/vault/data"
    }

    service_registration "kubernetes" {}

ui:
  enabled: true
