nameOverride: gateway-service

image:
  repository: techxus/gateway-service
  tag: "1.0.0"

spring:
  profile: stage

ingress:
  enabled: true
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
  hosts:
    - paths:
        - path: /
          pathType: Prefix

config:
  enabled: true
  applicationYaml: |
    spring:
      cloud:
        gateway:
          routes:
            - id: user-service
              uri: http://user-service
              predicates:
                - Path=/api/v1/user/**
            - id: notification-service
              uri: http://notification-service
              predicates:
                - Path=/api/v1/notification/**
